*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: #27445d;
    color: #EFE9D5;
    width: 700px;
    height: 150px;
    border: 3px solid lab(57% 69.38 68.71);
    /* margin: 16px 30px 50px 80px; */
    padding: 16px 72px 90px 130px;
}

.box > div {
    width: 50%;
    border: 1px solid wheat;
}


/* 
Height
h = 100px
padding top = 16px
padding bottom = 90px
border top and bottom = 3 + 3 = 6

*/

/* 
Width

padding left = 130px
padding right = 72px
border left and right = 3 + 3 = 6
*/