p.text1 {
    font-size: 16px;
}

/* 1em is equivalent to the font-size of the parent */

p.text1 span {
    color: red;
    font-size: 1.5em;
}

/* REM (Root em) */

/* By default 1rem = 16px */
p.text2 {
    font-size: 2rem;
}